<header id="main_header">
<span class="logo_style1">Blog</span> <span class="logo_style2">silo</span>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</header>
