<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main_content">
  <div class="left">
    <%= yield  %>
  </div>

  <!-- <div class="right">
    <span class="contact_chat_register" ><br> <a href=" "><img src="http://1img.org/wp-content/uploads/2015/09/facebook-icon-5.png" width="30" height="30" alt="facebook logo" /></a>
      <a href=""><img src="http://www.kancelarijazamlade.rs/images/tinymce/twitter3.png" width="30" height+"30" alt="twitter" /></a><a href=""><img src="https://www.rafbf.org/sites/all/themes/rafbf/img/icon-instagram.png" width="30" height+"30" alt="Instagram" /></a></span>
  </div> -->
</div>

</body>
</html>
